

#instagram{
    text-align: center;
}
#pietexto{
    text-align: center;
    font-family: 'Inter', sans-serif;
    
}
#piepagina{
    max-width: 100%;
    background-color: #D8D8D8;
    border-top: 1px solid rgb(175, 175, 175) ;
    
}
