<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
      menu
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <li><button class="dropdown-item" type="button">productos</button></li>
      <li><button class="dropdown-item" type="button">promociones</button></li>
      <li><button class="dropdown-item" type="button">nosotros</button></li>
    </ul>
  </div>