<div>

</div>


<form [formGroup]="formularioLogin" (ngSubmit)="login()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label ">Email address</label>
      <input formControlName="correo" type="email" class="form-control border border-4" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div class="valid" *ngIf="formularioLogin.controls['correo'].touched && formularioLogin.controls['correo'].valid">correo valido</div>
      <div class="invalid" *ngIf="formularioLogin.controls['correo'].touched && formularioLogin.controls['correo'].errors?.['required']">complete correo</div>
      <div class="invalid"*ngIf="formularioLogin.controls['correo'].touched && formularioLogin.controls['correo'].errors?.['email']">formato incorrecto</div>
      
    </div>
    
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input formControlName="contrasena" type="password" class="form-control border border-4" id="exampleInputPassword1">
      <div class="valid" *ngIf="formularioLogin.controls['contrasena'].touched && formularioLogin.controls['contrasena'].valid">contraseña valida</div>
      <div class="invalid" *ngIf="formularioLogin.controls['contrasena'].touched && formularioLogin.controls['contrasena'].errors?.['required']">complete contraseña</div>
      <div class="invalid"*ngIf="formularioLogin.controls['contrasena'].touched && formularioLogin.controls['contrasena'].errors?.['minlength']">debe tener al menos 6 caracteres.</div>
    </div>
    <div class="mb-3 form-check">
      <input formControlName="recordarCredenciales" type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-outline-primary" [disabled]="formularioLogin.invalid">Login</button>
    <button type="reset" class="btn btn-outline-danger">reset</button>
    
  </form>